body{
    font-size: 40px;
}
ul,ol{
    padding: 0px;
}
li{
    margin-left: 60px;
}
.tag{
    border: solid 4px;
    margin: 5px;
}
.tag label {
    font-size: 25px;
    color: #fff;
    vertical-align: top;
}